body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.customForm {
  height: 250px;
  width: 300px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.customForm input {
  font-family: 'Courier New', Courier, monospace;
  height: 30px;
  border: 2px solid black;
  display: block;
  border-radius: 5px;
  margin-bottom: 20px;
}

.customForm input[type=submit] {
  font-weight: bold;
}

.customForm input[type=submit]:hover {
  color: white;
  background-color: black;
}

.card-component {
  font-family: 'Courier New', Courier, monospace;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  max-width: 400px;
}

.card-component h3 {
  font-weight: bold;
}

.notification {
  width: 200px;
  height: 200px;
  background-color: grey;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.counter-component {
  font-family: 'Courier New', Courier, monospace;
  width: 350px;
  height: 90px;
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
}

.counter-component button {
  font-weight: bold;
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
}

.counter-component button:hover {
  color: white;
  background-color: black;
}